@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");
@import url("https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@latest/styles.min.css");
@import url("https://cdn.jsdelivr.net/gh/carloskiki/pulldown-latex@latest/font/");
@import url("./tokyonight.css");

:root {
  --light-bg: #24283b;
  --dark-bg: #1a1b26;
  --light-text: #c0caf5;
  --link-color: #7aa2f7;
  --head-color: #7dcfff;
  --mono-color: #2ac3de;
  --horizontal-gap: 20%;
}

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-bg);
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 1rem var(--horizontal-gap);
  position: sticky;
  line-height: 1.5;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--light-bg);
  color: var(--light-text);
  padding: 2rem var(--horizontal-gap);
  position: sticky;
  z-index: 1000;
  font-size: 1.25rem;
}

header nav {
  display: flex;
  gap: 2rem;
  align-items: center;

  background: var(--light-bg);
  /*background: linear-gradient(to right, #bb9af7, #2ac3de);*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

header nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 2rem;
}

header nav ul li {
  display: inline;
}

footer {
  background: var(--light-bg);
  color: var(--light-text);
  text-align: center;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Crimson Pro", serif;
  color: var(--head-color);
  margin-bottom: 1rem;
}

p {
  color: var(--light-text);
  margin-bottom: 1.5rem;
}

pre {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--light-bg);
  padding: 10px;
  box-sizing: border-box;
  overflow-x: auto;
  white-space: pre;
  line-height: 1.375;
}

code {
  font-family: "JetBrains Mono", monospace;
}

math {
  font-size: 110%;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

p code,
span code {
  white-space: nowrap;
  display: inline;
}

pre code {
  white-space: pre;
  display: block;
  padding: 0;
  background: inherit;
}

ul,
ol {
  list-style-position: outside;
  padding-left: 0;
  margin-left: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  list-style-position: outside;
  padding-left: 0rem;
  margin-left: 1rem;
}

li {
  padding-left: 0.5rem;
}

@media (max-width: 768px) {
  header,
  main {
    padding: 1rem 1rem;
    font-size: 1rem;
  }

  math {
    font-size: 100%;
  }
}
