:root {
  --terminal-red: #f7768e;
  --number-boolean-constants: #ff9e64;
  --function-parameters: #e0af68;
  --parameters-inside-functions: #cfc9c2;
  --strings-css-class-names: #9ece6a;
  --object-literal-keys: #73daca;
  --regex-literal-strings: #b4f9f8;
  --language-support-functions: #2ac3de;
  --object-properties: #7dcfff;
  --function-names: #7aa2f7;
  --control-keywords: #bb9af7;
  --variables-class-names: #c0caf5;
  --editor-foreground: #a9b1d6;
  --markdown-html-text: #9aa5ce;
  --comments: #565f89;
  --terminal-black: #414868;
  --editor-background-storm: #24283b;
  --editor-background-night: #1a1b26;
}

.code {
  color: var(--variables-class-names);
  background-color: var(--editor-background-night);
}

.comment,
.meta.documentation {
  color: var(--comments);
  font-style: italic;
}

.string {
  color: var(--strings-css-class-names);
}

.string.regexp {
  color: var(--object-literal-keys);
}

.constant.character.escape {
  color: var(--terminal-red);
}

.constant.numeric {
  color: var(--number-boolean-constants);
}

.variable {
  color: var(--variables-class-names);
}

.variable.parameter {
  color: var(--function-parameters);
}

.variable.function {
  color: var(--function-names);
}

.variable.language {
  color: var(--control-keywords);
}

.keyword {
  color: var(--control-keywords);
}

.meta.import,
.keyword.control.import,
.keyword.control.import.from,
.keyword.other.import,
.keyword.control.at-rule.include,
.keyword.control.at-rule.import {
  color: var(--function-parameters);
}

.meta.path,
.keyword.operator {
  color: var(--object-properties);
}

.storage.type {
  color: var(--language-support-functions);
}

.storage.type.function {
  color: var(--control-keywords);
}

.storage.modifier {
  color: var(--object-properties);
}

.keyword.control.class,
.entity.name,
.entity.name.class,
.entity.name.type.class {
  color: var(--function-names);
}

.entity.other.inherited-class {
  color: var(--object-literal-keys);
}

.entity.other.attribute-name {
  color: var(--object-properties);
}

.support,
.support.type,
.support.class {
  color: var(--control-keywords);
}

.entity.name.function {
  color: var(--function-names);
}

.punctuation.definition.variable {
  color: var(--variables-class-names);
}

.constant,
.constant.language,
.meta.preprocessor {
  color: var(--number-boolean-constants);
}

.entity.name.section {
  color: var(--function-names);
}

.support.function.construct,
.keyword.other {
  color: var(--terminal-red);
}

.constant.character,
.constant.other {
  color: var(--number-boolean-constants);
}

.entity.name.tag {
  color: var(--object-literal-keys);
}

.punctuation.definition.tag.html,
.punctuation.definition.tag.begin,
.punctuation.definition.tag.end {
  color: var(--function-names);
}

.support.function {
  color: var(--function-names);
}

.punctuation.terminator,
.punctuation.separator {
  color: var(--object-properties);
}

.punctuation.separator.continuation {
  color: var(--terminal-red);
}

.support.type.exception {
  color: var(--function-parameters);
}

.keyword.other.special-method {
  color: var(--terminal-red);
}

.invalid {
  background-color: var(--terminal-red);
}

.punctuation.definition.string,
.string.quoted.double,
.string.quoted.single {
  color: var(--strings-css-class-names);
}

.punctuation.definition.string.begin,
.punctuation.definition.string.end {
  color: var(--object-literal-keys);
}

.meta.brace.square,
.punctuation.section.brackets {
  color: var(--variables-class-names);
}

.meta.brace.round,
.meta.brace.curly,
.punctuation.section,
.punctuation.section.block,
.punctuation.definition.parameters,
.punctuation.definition.begin,
.punctuation.definition.end,
.punctuation.section.group {
  color: var(--editor-foreground);
}

.support.constant.color {
  color: var(--function-names);
}

.entity.name.tag.css,
.entity.name.tag.scss {
  color: var(--function-names);
}

.entity.other.attribute-name.class {
  color: var(--object-properties);
}

.entity.other.attribute-name.id {
  color: var(--object-literal-keys);
}

.markup.deleted {
  color: var(--terminal-red);
}

.markup.inserted {
  color: var(--strings-css-class-names);
}

.markup.changed {
  color: var(--function-parameters);
}

.markup.heading,
.punctuation.definition.heading.markdown {
  color: var(--function-names);
}

.markup.quote {
  color: var(--object-properties);
}

.markup.italic {
  font-style: italic;
}

.markup.bold {
  font-weight: bold;
}

.markup.underline.link.markdown,
.meta.link.reference .constant.other.reference.link.markdown {
  color: var(--strings-css-class-names);
}

.constant.other.reference.link.markdown {
  color: var(--number-boolean-constants);
}

.meta.diff,
.meta.diff.header {
  color: var(--comments);
}

.meta.generic {
  color: var(--language-support-functions);
}

.meta.diff.range {
  color: var(--function-names);
}

.markup.deleted.git_gutter {
  color: var(--terminal-red);
}

.markup.inserted.git_gutter {
  color: var(--strings-css-class-names);
}

.markup.changed.git_gutter {
  color: var(--function-parameters);
}

.variable.other.readwrite.js,
.variable.other.object.js,
.variable.other.constant.js {
  color: var(--variables-class-names);
}

.text {
  color: var(--object-properties);
}
